#!/bin/bash
## Anything that adds to the PATH variable

export PATH="$PATH:/opt/gradle/gradle-3.5/bin"
export PATH="$PATH:$HOME/.dotfiles/bin"
export PATH="$PATH:$HOME/.cask/bin"
export PATH="$PATH:$HOME/.rvm/bin"
export PATH="$PATH:$HOME/.cabal/bin"
export GOPATH="$HOME/code/go"
export PATH="$PATH:/opt/gradle/gradle-3.5/bin"
